
{% extends 'base/base.html' %}
 {% block  'content' %}

			<main class="main-content">


				<div class="fullwidth-block">
					<div class="container">
						<div class="col-md-5">
							<div class="contact-details">
								<div class="map" data-latitude="-6.897789" data-longitude="107.621735">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28266.428326147965!2d85.31525723955076!3d27.677011800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19c18b827885%3A0x4207ecf181978d2e!2z4KS54KS_4KSu4KS-4KSy4KSvIOCkleCksuClh-CknCDgpIXgpKsg4KSH4KSo4KWN4KSc4KS_4KSo4KS_4KSv4KSw4KS_4KSZ!5e0!3m2!1sne!2snp!4v1560682147790!5m2!1sne!2snp" width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="contact-info">
									<address>
                    <div class="contact-info">
    									<address>
    										<p>    </p>
    										<img src="images/icon-marker.png" alt="">

    									</address>

    								</div>
										<img src="images/icon-marker.png" alt="">

									</address>

								</div>
								<a href="#"><img src="images/icon-phone.png" alt=""></a>
								<a href="#"><img src="images/icon-envelope.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<h2 class="section-title">Contact us</h2>
							<p></p>
							<form action="#" class="contact-form">
								<div class="row">
									<div class="col-md-6"><input type="text" placeholder="Your name..."></div>
									<div class="col-md-6"><input type="text" placeholder="Email Addresss..."></div>
								</div>
								<div class="row">
									<div class="col-md-6"><input type="text" placeholder="Company name..."></div>
									<div class="col-md-6"><input type="text" placeholder="Website..."></div>
								</div>
								<textarea name="" placeholder="Message..."></textarea>
								<div class="text-right">
									<input type="submit" placeholder="Send message">
								</div>
							</form>

						</div>
					</div>
				</div>

			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon"><center>HCOE weather forecast. Designed by AIA Company. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->

{% endblock %}
